In [2]:
import pandas as pd

conditions = ["confirmed", "deaths", "recovered"]

def make_country_df(condition, country):
    df = pd.read_csv(f"data/time_confirmed.csv")
    df = df.loc[df["Country/Region"] == country]
    df = df.drop(["Province/State","Country/Region","Lat","Long"], axis=1).sum().reset_index(name=condition)
    return df

final_df = None
    
for condition in conditions:
    condition_df = make_country_df(condition, "Korea, South")
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)

final_df

        index  confirmed  deaths  recovered
0     1/22/20          1       1          1
1     1/23/20          1       1          1
2     1/24/20          2       2          2
3     1/25/20          2       2          2
4     1/26/20          3       3          3
..        ...        ...     ...        ...
672  11/24/21     429002  429002     429002
673  11/25/21     432901  432901     432901
674  11/26/21     436968  436968     436968
675  11/27/21     440896  440896     440896
676  11/28/21     444200  444200     444200

[677 rows x 4 columns]